body {
    font-family: Segoe UI;
    padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
}

.logo {
  border: 2px solid black;
  padding: 3px 10px;
  text-align: center;
}

.menus {
  display: flex;
  gap: 12px;
}

.menus a {
  border: 2px solid black;
  padding: 4px 12px;
  color: inherit;
  text-decoration: none;
}

.hero {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hero-content {
  border: 2px solid black;
  padding: 15px;
  text-align: left;
  max-width: 50%;
}

.hero-image img {
  max-width: 100%;
  display: block;
}

.hero-content {
    border: 2px solid black;
    justify-content: left;
    padding: 15px;
}

.gallery {
    border: 2px solid black;
    padding: 25px;
    display: grid;
}

.gallery-title {
    text-align: center;
}

.container {
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(220px 1fr));
}

.container div {
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
}
