body {
    font-family: Segoe UI;
}

h1 {
    font-size: 30px;
    font-weight: 650;
    text-align: center;
    color: blueviolet;
}

p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}